name: Publish dev images to quay.io

on:
  push:
    branches:
      - 'main'

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      # Cache local bin dependencies
      - name: Local Dependencies Cache
        uses: actions/cache@v2
        with:
          path: bin
          key: ${{ runner.os }}-bin-${{ hashFiles('Makefile') }}

      - name: Install Local Dependencies
        run: make operator-sdk opm

      - name: Build and push images
        run: BUNDLE_IMAGE_TAG=latest IMG_REGISTRY=quay.io/gingersnap ./hack/create-catalog-source.sh
